@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: black;
}

/* Headings & Logo */

h1,
h2 {
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;

}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 3px solid black;
}

.active {
    border-bottom: 3px solid black;
}

/* Hero image and cover text */

#hero-outer {

    height: 600px;
    width: 100%;
    overflow: hidden;
    /* to enable positioning of cover-text*/
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/istockphoto-155374164-612x612-hero.jpg") no-repeat center center;
}

#cover-text,
#cover-text h2 {
    color: black;
}

#cover-text {
    font-size: 130%;
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    width: 400px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(207, 158, 253, .8);
    bottom: 100px;
    right: 50px;

    position: absolute;

    /* animates when home page is loaded */
    animation-name: hero-zoom;
    animation-duration: 8s;
    animation-fill-mode: forwards;

}

/* The animation code - creates the level of zoom */

@keyframes hero-zoom {
    from {
        transform: scale(0.30);
    }

    to {
        transform: scale(1);
    }
}

/* Benefits section */

#benefits-header {
    color: black;
    text-align: center;
    background-color: rgba(207, 158, 253, .8);
}

#benefits {
    background-color: rgba(207, 158, 253, .8);
    background-size: cover;
    text-align: center;
}

/* Footer section */

footer {
    height: 150px;
    color: black;

}

.social-media {
    text-align: center;
}

.social-media>li {
    display: inline;

}

.social-media i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
    color: black;
}

footer h6 {
    text-align: right;
}

/* About page styling */

#content {
    text-align: center;
    margin-bottom: 30px;
}

#content h3,
h4 {
    background-color: rgba(207, 158, 253, .8);
}

#content a {
    text-decoration: none;
    color: inherit;
}

#content a:hover {
    border-bottom: 3px solid black;
}

.content {
    border-bottom: 3px solid black;
}

/* Form */



/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #benefits-header {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #benefits {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }


    /* For medium screens sizes from 950px wide and down */
    @media screen and (max-width: 950px) {

        #menu {
            clear: left;
            float: left;
            margin-left: 30px;
            margin-bottom: 20px;
            line-height: 25px;
        }

        #cover-text {
            position: center;
        }



        /* For small screens sizes from 800px wide and down */
        @media screen and (max-width: 800px) {
            #hero-image {
                column-count: 2;
            }
        }