@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    color: black;
}

/* Headings & Logo */

h1, h2 {
    font-family: Anton, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

#logo {
    float: left;
    font-size: 250%;
}